<template>
  <div class="home">
    <Sidebar></Sidebar>
    <Profile></Profile>
    <Personal></Personal>
  </div>
</template>

<script>
import Sidebar from "../components/Sidebar";
import Profile from "../components/Profile";
import Personal from "../components/Personal";

export default {
  name: "Home",
  components: {
    Sidebar,
    Profile,
    Personal
  }
};
</script>

<style scoped lang="scss">
@import "../assets/variables";

.home {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
}
</style>

