<template>
  <div class="main">
    <h1>Balogh Kitti</h1>
    <h2>Frontend Developer</h2>
    <router-link to="/home">
      <Button>Profile</Button>
    </router-link>
  </div>
</template>

<script>
import Button from "../components/Button";

export default {
  name: "Main",
  components: {
    Button
  }
}
</script>

<style scoped lang="scss">
@import "../assets/variables";

.main {
  position: relative;
  width: 60%;

  a:link {
    text-decoration: none;
  }
}
</style>
