<template>
  <button class="button" @click="onClick">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: "Button",
  methods: {
    onClick(){
      this.$emit('click');
    }
  }
}
</script>

<style scoped lang="scss">
@import "../assets/variables";

.button {
  border: 3px solid $color3;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
  margin: 5% auto;
  color: $color3;
  font-weight: bold;
  font-size: 20px;

  &:hover {
    background-color: $color3;
    color: white;
  }
}
</style>
