<template>
  <div class="slider" v-if="images.length">
    <img class="image" v-for="(image, i) in images" :key="i" :src="image" :class="{ active: i===slideIndex}">
    <a v-if="images.length > 1" class="prev" @click="showSlides(-1)">&#10094;</a>
    <a v-if="images.length > 1" class="next" @click="showSlides(1)">&#10095;</a>
  </div>
</template>

<script>
export default {
  name: "Carousel",
  props: ["images"],
  data() {
    return {
      slideIndex: 0
    };
  },
  methods: {
    showSlides(n) {
      this.slideIndex += n;
      if (this.slideIndex >= this.images.length) this.slideIndex = 0;
      if (this.slideIndex < 0) this.slideIndex = this.images.length - 1;
    }
  }
};
</script>

<style scoped lang="scss">
.slider {
  .image {
    width: 100%;
    display: none;
    height: 300px;
    object-fit: contain;
  }

  .default-image {
    display: block;
    height: 300px;
    width: 300px;
    background-color: black;
  }

  .active {
    display: block;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  .prev {
    &:hover {
      background-color: rgba(0,0,0,0.8);
    }
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;

    &:hover {
      background-color: rgba(0,0,0,0.8);
    }
  }
}
</style>