<template>
  <div class="not-found">
    <p>Ooops!</p>
    <p>Page not found.</p>
    <Button>Back to Main Page</Button>
  </div>
</template>

<script>
import Button from "./Button";

export default {
  name: "404",
  components: {Button}
}
</script>

<style scoped lang="scss">
.not-found {
  width: 60%;
}
</style>
