<template>
  <div class="personal">
    <transition name="fade">
      <About v-if="this.$route.hash === '#about' || this.$route.hash === ''" class="item"></About>
      <Resume v-if="this.$route.hash === '#resume'" class="item"></Resume>
      <Projects v-if="this.$route.hash === '#projects'" class="item"></Projects>
      <Contact v-if="this.$route.hash === '#contact'" class="item"></Contact>
    </transition>
  </div>
</template>

<script>
import About from "./personal/About";
  import Resume from "./personal/Resume";
  import Projects from "./personal/Projects";
  import Contact from "./personal/Contact";

export default {
  name: "Personal",
  components: {
    About,
    Resume,
    Projects,
    Contact
  }
}
</script>

<style scoped lang="scss">
@import "../assets/variables";
@import "../assets/mixins";

.personal {
  position: relative;
  width: 55%;
  margin: 2% 0;
  z-index: 2;

  .item {
    background-color: #fff;
    width: 100%;
    overflow-y: auto;
    text-align: left;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
  }

  .fade-enter-active, .fade-leave-active {
    transition: all 1s;
  }

  .fade-leave-to {
    opacity: 0;
    transform: translateY(-100%);
  }

  .fade-enter {
    opacity: 0;
    transform: translateY(100%);
  }
}
</style>
