<template>
  <div class="profile">
    <img :src="require('../assets/images/KittiBalogh.jpg')">
    <div class="details">
      <h2>Balogh Kitti</h2>
      <p>Frontend Developer</p>
      <ul>
        <li>
          <a :href="'https://www.facebook.com/kittusS'" target="_blank">
            <i class="fab fa-facebook-square"></i>
          </a>
        </li>
        <li>
          <a :href="'https://www.instagram.com/kittii95/?hl=hu'" target="_blank">
            <i class="fab fa-instagram-square"></i>
          </a>
        </li>
        <li>
          <a :href="'https://gitlab.com/bkitti955'" target="_blank">
            <i class="fab fa-gitlab"></i>
          </a>
        </li>
        <li>
          <a :href="'https://github.com/bkitti'" target="_blank">
            <i class="fab fa-github-square"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer">
      <div class="footer-wrapper">
        <a href="../assets/Kitti_Balogh_CV_2020.pdf" download>
          <span>Download CV</span>
          <i class="fas fa-download"></i>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Profile"
};
</script>

<style scoped lang="scss">
@import "../assets/variables";

.profile {
  position: relative;
  background-color: $color2;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 10px 15px 25px rgba(0,0,0,.1);
  width: 45%;

  a:link, a:visited, a:active {
    color: black;
    text-decoration: none;

    &:hover {
      color: $color3;
      cursor: pointer;
    }
  }

  img {
    max-width: 45%;
    max-height: 50%;
    margin: 0 auto;
  }

  .details {
    ul {
      padding: 0;

      li {
        font-size: 26px;
        display: inline-block;
        margin: 15px;
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5% 0;
    border-top: 2px solid transparent;
    border-image: radial-gradient(ellipse at top, $color3 0%, $color2 40%);
    border-image-slice: 1;

    .footer-wrapper {
      width: fit-content;
      margin: 0 auto;
      cursor: pointer;
      vertical-align: middle;
      font-size: 16px;

      &:hover {
        color: $color3;
      }

      span {
        text-transform: uppercase;
        font-weight: 500;
      }

      .fa-download {
        margin: 0 0 0 15px;
      }
    }
  }
}
</style>
