<template>
  <div class="gallery">
    <Carousel class="carousel" :images="images" />
    <slot name="title"></slot>
    <slot name="description"></slot>
  </div>
</template>

<script>
import Carousel from "./Carousel";

export default {
  name: "ProjectItem",
  components: {
    Carousel
  },
  props: ["images"]
};
</script>

<style scoped lang="scss">
@import "../assets/variables";

.gallery {
  width: 100%;
  background-color: $color2;
  border-radius: 30px;
  height: 100%;
  transition: transform .4s ease-in-out;

  &:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  }

  .carousel {
    position: relative;
    max-height: 300px;
    width: 100%;
  }
}
</style>
