<template>
  <div class="sidebar">
    <router-link to="/">
      <div>
        <i class="fas fa-home"></i>
        <span>Main</span>
      </div>
    </router-link>
    <a href="#about">
      <i class="fas fa-user"></i>
      <span>About</span>
    </a>
    <a href="#resume">
      <i class="far fa-file-alt"></i>
      <span>Resume</span>
    </a>
    <a href="#projects">
      <i class="fas fa-code"></i>
      <span>Projects</span>
    </a>
    <a href="#contact">
      <i class="fas fa-at"></i>
      <span>Contact</span>
    </a>
  </div>
</template>

<script>
  export default {
    name: "Sidebar",
    data() {
      return {
        activeTab: '',
      }
    },
    methods: {
      updateActiveTab(tabName){
        this.activeTab = tabName;
      }
    }
  }
</script>

<style scoped lang="scss">
@import "../assets/variables";
@import "../assets/mixins";

.sidebar {
  background-color: #fff;
  position: absolute;
  left: -80px;
  display: flex;
  flex-direction: column;
  width: 80px;
  border-radius: 5px;
  z-index: 3;

  a {
    padding: 10px;
    cursor: pointer;
    font-weight: 500;

    &:hover {
      span, i {
        color: $color3;
      }
    }
  }

  a:not(:last-child) {
    border-bottom: 1px solid transparent;
    border-image: radial-gradient(ellipse at bottom, lightgrey 0%, #fff 90%);
    border-image-slice: 1;
  }

  span {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
  }

  a:active, a:link, a:visited {
    text-decoration: none;
    color: black;
  }
}
</style>
