@mixin personal{
  height: 100%;

  h1 {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, $color7 10%, #fff 100%);
    border-image-slice: 1;
    padding: 20px 20px;
    margin: 0;
  }
}

@mixin rotation($start, $mid, $end){
  $animation-name: unique-id() !global;

  @-webkit-keyframes #{$animation-name} {
    0% { -webkit-transform: rotate($start); }
    50% { -webkit-transform: rotate($mid); }
    100% { -webkit-transform: rotate($end); }
  }

  -webkit-animation: $animation-name 3s 1 linear;
  -webkit-animation-fill-mode: forwards;
}

@mixin rotate($first, $second){
  .left span{
    clip: rect(0px, 50px, 100px, 0px);
    @include rotation(0deg, $first, $first);
  }

  .right span{
    clip: rect(0, 100px, 100px, 50px);
    @include rotation(0deg, 0deg, $second);
  }
}

