<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
@import "assets/variables";

html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  position: relative;
  //background: linear-gradient(155deg, rgba(255,255,255,1) 25%, rgba(245,150,180,1) 85%);
  background: linear-gradient(110deg, $color8 60%, $color1 60%), url('assets/images/kep6.jpg') no-repeat right;
  background-size: contain;
  overflow: auto;
  height: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 80vw;
  height: 80vh;
  min-height: 550px;
  margin: 10vh auto;
}
</style>
