<template>
  <div class="about">
    <h1>About Me</h1>
    <p>Hello! <strong>I am Kitti Balogh</strong>, a Frontend Developer with industry experience building responsive websites and web applications.
      I specialize in JavaScript, SCSS/Sass, Vue.js and have experience working with Node.js.
    </p>
  </div>
</template>

<script>
  export default {
    name: "About"
  }
</script>

<style scoped lang="scss">
@import "../../assets/variables";
@import "../../assets/mixins";

.about {
  @include personal;

  p {
    font-size: 1em;
    padding: 0 20px 20px 20px;

  }
}
</style>
