<template>
  <div class="contact">
    <h1>Contact me</h1>
    <form class="form" @submit.prevent="sendEmail">
      <div class="wrap-input2 validate-input" :class="{'alert-validate': hasNameError}" data-validate="Name is required">
        <input v-model="name" class="input2" :class="{'has-val': name}" type="text"
               name="name">
        <label class="focus-input2" data-placeholder="NAME"></label>
      </div>
      <div class="wrap-input2 validate-input" :class="{'alert-validate': hasEmailError}" data-validate="Valid email is required: ex@abc.xyz">
        <input v-model="email" class="input2" :class="{'has-val': email}" type="email" name="_replyto">
        <label class="focus-input2" data-placeholder="YOUR EMAIL"></label>
      </div>
      <div class="wrap-input2 validate-input" :class="{'alert-validate': hasMessageError}" data-validate="Message is required">
        <textarea v-model="message" class="input2" :class="{'has-val': message}" name="message"></textarea>
        <label class="focus-input2" data-placeholder="MESSAGE"></label>
      </div>
      <div v-if="!isSuccess" class="button">
        <Button type="submit" id="button">Send an e-mail</Button>
      </div>
      <div v-else class="message">
        <i class="fa fa-check" aria-hidden="true"></i>
        <span>Az üzenet sikeresen elküldve.</span>
      </div>
    </form>
  </div>
</template>

<script>
  import Button from "../Button";

  export default {
    name: "Contact",
    components: {
      Button
    },
    data() {
      return {
        name: '',
        email: '',
        message: '',
        isSuccess: false,
        hasNameError: false,
        hasEmailError: false,
        hasMessageError: false,
      }
    },
    methods: {
      sendEmail() {
        if (this.validate()) {

          fetch("https://formspree.io/moqkjlgq", {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              name: this.name,
              _replyto: this.email,
              message: this.message,
            })
          })
            .then(() => {
              this.isSuccess = true;
              this.resetDatas();
            })
        }
      },
      resetDatas() {
        this.name = '';
        this.email = '';
        this.message = '';
      },
      validate() {
        let isSuccess = true;
        this.hasNameError = false;
        this.hasEmailError = false;
        this.hasMessageError = false;
        if(this.checkName()){
          this.hasNameError = true;
          isSuccess = false;
        }
        if (this.checkEmail()){
          this.hasEmailError = true;
          isSuccess = false;
        }
        if(this.checkMessage()){
          this.hasMessageError = true;
          isSuccess = false;
        }
        return isSuccess;
      },
      checkName(){
        return this.name.trim().length === 0;
      },
      checkEmail(){
        return this.email.trim().length === 0
      },
      checkMessage(){
        return this.message.trim().length === 0
      }
    }
  }
</script>

<style scoped lang="scss">
@import "../../assets/variables";
@import "../../assets/mixins";

.contact {
  @include personal;

  .form {
    margin: 1rem 0;

    .button {
      display: flex;
      justify-content: center;
    }

    .message {
      height: 5rem;
      font-size: 1.5em;
      margin: 5% auto;
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        color: green;
      }

      span {
        font-weight: bold;
        margin: 0 1rem;
      };
    }

    .validate-input {
      position: relative;
    }

    .alert-validate {
      &:hover {
        &:before {
          visibility: visible;
          opacity: 1;
        }
      }

      &::before {
        content: attr(data-validate);
        position: absolute;
        max-width: 70%;
        background-color: white;
        border: 1px solid $color6;
        border-radius: 2px;
        padding: 4px 25px 4px 10px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        pointer-events: none;
        //font-family: Poppins-Regular;
        color: $color6;
        font-size: 13px;
        line-height: 1.4;
        text-align: left;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.4s;
      }

      &::after {
        content: "\f12a";
        font-family: FontAwesome;
        display: block;
        position: absolute;
        color: #c80000;
        font-size: 16px;
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
      }
    }

    .wrap-input2 {
      width: 90%;
      position: relative;
      border-bottom: 2px solid $color7;
      margin: 30px auto;

      input {
        height: 45px;
      }

      textarea {
        min-height: 115px;
        padding-top: 13px;
        padding-bottom: 13px;
      }

      .input2 {
        outline: none;
        border: none;
        display: block;
        width: 100%;
        font-family: Poppins-Regular;
        font-size: 15px;
        color: $color5;

        &::placeholder {
          color: $color4;
        }

        &:focus {
          border-color: transparent !important;

          &::placeholder {
            color: transparent;
          }
        }
      }

      .focus-input2 {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;

        &::before {
          content: "";
          display: block;
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 0;
          height: 2px;
          transition: all 0.4s;
          background: $color2;
          //background: linear-gradient(45deg, $color2, white);
        }

        &::after {
          content: attr(data-placeholder);
          display: block;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          font-family: Poppins-Regular;
          font-size: 13px;
          color: $color4;
          transition: all 0.4s;
        }
      }

      input + .focus-input2::after, textarea + .focus-input2::after {
        top: 16px;
        left: 0;
      }

      .input2:focus + .focus-input2::after {
        top: -13px;
      }

      .input2:focus + .focus-input2::before {
        width: 100%;
      }

      .has-val.input2 + .focus-input2::after {
        top: -13px;
      }
    }
  }
}
</style>
