<template>
  <div class="projects">
    <h1>Projects</h1>
    <div class="project-wrapper">
      <ProjectItem class="project-item" v-for="(project, i) in projects" :key="i" :images="project.images">
        <template v-slot:title>
          <a :href="project.link" target="_blank">
            <h2>{{ project.title }}</h2>
          </a>
        </template>
        <template v-slot:description>
          <p>{{ project.subtitle }}</p>
          <p>{{ project.description }}</p>
        </template>
      </ProjectItem>
    </div>
  </div>
</template>

<script>
import ProjectItem from "../ProjectItem";

export default {
  name: "Projects",
  components: {
    ProjectItem
  },
  data() {
    return {
      projects: [
        {
          images: [
            require("../../assets/images/cv/cv.png"),
          ],
          title: "CV",
          subtitle: "Önéletrajz",
          description: "HTML, SCSS, gulp",
          link: "https://gitlab.com/bkitti955/cv"
        },
        {
          images: [
            require("../../assets/images/wizz/Home.png"),
            require("../../assets/images/wizz/Select-default.png"),
            require("../../assets/images/wizz/Select-outbound.png"),
            require("../../assets/images/wizz/Select-outbound+inbound.png"),
            require("../../assets/images/wizz/Select-pay_now_overlay.png")
          ],
          title: "Flight app",
          subtitle: "Wizz Air test project",
          description: "HTML, CSS, SCSS, media query, VueJS, Vue Router, Vuex",
          link: "https://gitlab.com/bkitti955/flight-app"
        },
        {
          images: [
            require("../../assets/images/groupama/payhub_thirdtab_online.png"),
            require("../../assets/images/groupama/mobile_payment_history.png"),
            require("../../assets/images/groupama/mobile_payment_history_1.png")
          ],
          title: "Groupama",
          subtitle: "Groupama test project",
          description: "VueJS, bootstrap, SCSS, media query",
          link: "https://gitlab.com/bkitti955/groupama"
        },
        {
          images: [
            require("../../assets/images/shoprenter/bored-app-wf.jpg"),
            require("../../assets/images/shoprenter/main.png"),
            require("../../assets/images/shoprenter/main2.png"),
            require("../../assets/images/shoprenter/empty_list.png"),
            require("../../assets/images/shoprenter/list.png"),
            require("../../assets/images/shoprenter/search.png")
          ],
          title: "Shoprenter",
          subtitle: "Shoprenter test project",
          description: "VueJS, Vue Router, Vuex, bootstrap, SCSS, Vuetify",
          link: "https://gitlab.com/bkitti955/shoprenter"
        },
        {
          images: [
            require("../../assets/images/shiwa/design.png")
          ],
          title: "ShiwaForce",
          subtitle: "ShiwaForce test project",
          description: "HTML, SCSS, gulp",
          link: "https://gitlab.com/bkitti955/shiwa-force"
        }
      ]
    };
  }
};
</script>

<style scoped lang="scss">
@import "../../assets/variables";
@import "../../assets/mixins";

.projects {
  @include personal;

  .project-wrapper {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;

    .project-item {
      width: 350px;
      margin: 15px;

      a:link, a:visited, a:active {
        color: black;
        text-decoration: none;

        &:hover {
          color: $color3;
          cursor: pointer;
        }
      }

      h2, p {
        text-align: center;
        padding: 0 10px;
      }
    }
  }
}
</style>
