<template>
  <div class="resume">
    <h1>Skills</h1>
    <div class="resume__details">
      <div class="resume__details-coding">
        <div class="title">
          <h2>
            <i class="fas fa-code"></i>
            Coding
          </h2>
        </div>
        <div class="code-languages">
          <div class="code-lang">
            <span class="code-lang__title">HTML</span>
            <div class="radial">
              <div class="circle left rotate"><span></span></div>
              <div class="circle right rotate"><span></span></div>
            </div>
          </div>
          <div class="code-lang">
            <span class="code-lang__title">SCSS</span>
            <div class="radial">
              <div class="circle left rotate"><span></span></div>
              <div class="circle right rotate"><span></span></div>
            </div>
          </div>
          <div class="code-lang">
            <span class="code-lang__title">Vue.js</span>
            <div class="radial">
              <div class="circle left rotate"><span></span></div>
              <div class="circle right rotate"><span></span></div>
            </div>
          </div>
          <div class="code-lang">
            <span class="code-lang__title">JS</span>
            <div class="radial">
              <div class="circle left rotate"><span></span></div>
              <div class="circle right rotate"><span></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="resume__details-languages">
        <div class="title">
          <h2>
            <i class="fas fa-language"></i>
            Languages
          </h2>
        </div>
        <ul>
          <li>
            <div class="name">Hungarian</div>
            <div class="level">
              <span :class="{dark: i<=10}" v-for="i in 10" :key="i"></span>
            </div>
          </li>
          <li>
            <div class="name">English</div>
            <div class="level">
              <span :class="{dark: i<=7}" v-for="i in 10" :key="i"></span>
            </div>
          </li>
          <li>
            <div class="name">German</div>
            <div class="level">
              <span :class="{dark: i<=4}" v-for="i in 10" :key="i"></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <h1>Resume</h1>
    <div class="resume__details">
      <div class="resume__details-experience">
        <div class="title">
          <h2>
            <i class="fas fa-briefcase"></i>
            Experience
          </h2>
        </div>
        <div>
          <p class="recent">2020 - present</p>
          <img src="../../assets/images/wizz.jpg">
          <span>Junior Frontend Developer</span>
          <span>WIZZ Air Hungary Kft.</span>
          <span>Mito Communications Zrt.</span>
          <span>Budapest</span>
        </div>
        <div>
          <p>2018 - 2020</p>
          <img src="../../assets/images/female.png">
          <span> Freelancer </span>
          <span> Szeged </span>
        </div>
      </div>
      <div class="resume__details-education">
        <div class="title">
          <h2>
            <i class="fas fa-university"></i>
            Education
          </h2>
        </div>
        <div>
          <p>2018 - 2019</p>
          <img src="../../assets/images/T360.png">
          <span>Junior Developer</span>
          <span>IT Developer Career Start Program</span>
          <span>Training360</span>
          <span>Budapest</span>
        </div>
        <div>
          <p>2014 - 2018</p>
          <img src="../../assets/images/szte_mk.png">
          <span>Food Engineer</span>
          <span>University of Szeged</span>
          <span>Faculty of Engineering</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Resume"
}
</script>

<style scoped lang="scss">
@import "../../assets/variables";
@import "../../assets/mixins";

.resume {
  @include personal;

  &__details {
    display: flex;
    box-sizing: border-box;
    //height: 80%;

    img {
      margin: 5px;
      float: right;
      height: 40px;
    }

    &-experience, &-education, &-coding, &-languages {
      width: 50%;
      padding: 0 20px 20px 20px;

      .title {
        border-bottom: 1px solid transparent;
        border-image: radial-gradient(ellipse at bottom, lightgrey 0%, #fff 70%);
        border-image-slice: 1;
      }
    }

    &-experience, &-education {
      div {
        &:not(.title){
          padding: 1em 0;
        }

        span {
          display: block;
        }

        span:first-of-type {
          font-weight: bold;
          font-size: 20px;
        }

        .recent {
          border: 1px solid $color3;
          color: $color3;
        }
      }

      p {
        padding: 5px;
        width: fit-content;
        border: 1px solid $color7;
        color: $color7;
        font-size: 12px;
        display: inline-block;
      }
    }

    &-experience, &-coding {
      border-right: 1px solid $color7;
    }

    &-coding {
      .code-languages {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .code-lang {
          position: relative;
          min-width: 6em;
          width: 100px;
          height: 100px;
          min-height: 6em;
          margin: 1rem;

          &__title{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            font-weight: bold;
          }

          .circle {
            span {
              width: 60px;
              height: 60px;
              border-radius: 100%;
              position: absolute;
              opacity: 0.5;
              border: 20px solid $color9;
            }

            &.left {
              position: absolute;
              clip: rect(0, 100px, 100px, 50px);
            }

            &.right {
              position: absolute;
              clip: rect(0px, 50px, 100px, 0px);
            }
          }

          &:nth-child(1) {
            @include rotate(180deg, 160deg);
          }

          &:nth-child(2) {
            @include rotate(180deg, 125deg);
          }

          &:nth-child(3) {
            @include rotate(180deg, 115deg);
          }

          &:nth-child(4) {
            @include rotate(180deg, 85deg);
          }
        }
      }
    }

    &-languages {
      ul {
        padding: 0;

        li {
          list-style: none;

          .level {
            margin: .5em 0;
            width: 100%;
            height: 1em;
            display: flex;
            justify-content: space-between;

            span{
              display: inline-block;
              width: 1em;
              height: 1em;
              border-radius: 15px;
              background-color: $color1;
            }

            .dark {
              background-color: $color9;
            }
          }
        }
      }
    }
  }
}
</style>
